<!doctype html>
    <html>
      <head>
      </head>
      <body>
        <h2>About our project</h2>
        <p>The creators of this project are Rohan Joshi and Christopher Rodriguez. 
            We are both students at the Bergen County Academies and this is our 
            miidyear project. We used a variety of libraries in our project. We used opencv for 
            facial detection, pytorch for emotion classification, Pillow for image processing, 
            and numpy for array manipulation. The way this project works is that anyone 
            can upload an image of a face, and our classifier will classify the photo for them. 
            Also, your webcam is used on our homepage for real time video streaming of emotion.
            We hope you enjoy our project!
        </p>
      </body>
</html>