<!doctype html>
    <html>
      <head>
        <style>
            p{
                font-size: 20px;
                margin-right: 100px;
            }
            body{
                background-color: lightgray;
            }
        </style>
      </head>
      <body>
        <h1 style = "text-align: center;">Creators</h1>
        <p>The first creator of this project is Rohan Joshi. He worked on the backend 
            neural network architecture, facial detection, and the front end video streaming. 
            He also helped connect the backend and frontend, as well as other frontend functionality. 
        </p>
        <center>
        <img src = "https://i.ibb.co/FHGpfWH/IMG-0481-1.jpg" height = 300 width = 400></img>
        </center>
        <p>
        The second creator of this project is Christopher Rodriguez. He helped with the design and visual 
        components of the front-end. 
        </p>
        <a href = "/">Go back to home</a>
      </body>
</html>